@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFF;
}

body {
    background: #000;
    height: 100vh;
    width: 100%;
    margin: 0;
}

section {
    width: 100%;
    height: 100%;
    background-image: url("img/1.jpeg");
    background-size: cover;
    background-position: center;
    padding: 12vh;
    display: flex;
    align-items: flex-end;
    position: relative;
}

section .localization {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
}

section .localization img {
    filter: invert(1);
    height: 1.2rem;
    margin-right: .5rem;
}

section .localization span {
    font-size: .8rem;
}

.gradient{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
    z-index: 0;
}

.data-container {
    z-index: 1;
    position: relative;
}

.data-container .time-box{
    display: flex;
    align-items: flex-end;
}

.data-container h2 {
    margin: 0;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}

.data-container h2.time {
    font-size: 7vw;
    line-height: 1;
    margin-left: -.5rem;
}

.data-container span.seconds{
   font-size: 2.5rem;
   line-height: 1.7;
   margin-left: .5rem;
}


.data-container h2.day {
    font-size: 2vw;
    margin-bottom: .3rem;
    opacity: .9;
}

.data-container h2.month {
    font-size: 1vw;
    opacity: .7;
}

@media (min-width:1600px){
    .data-container span.seconds{
        font-size: 3rem;
    }
}

@media (max-width:1599px) and (min-width:1024px){
    .data-container span.seconds {
        line-height: 1.3;
    }
} 

@media (max-width:1024px) {

    section {
        padding: 5vh;
    }

    section .localization{
        top: 5vh;
        right: 5vh;
    }

    .data-container h2.time{
        font-size: 12vh;
    }    
    .data-container span.seconds{
        font-size: 4vh;
    }
    .data-container h2.day{
        font-size: 4.5vh;
    }
    .data-container h2.month{
        font-size: 2vh;
    }

}